
/* colors 
 biege=E5E4E0
 orange=E6A224 
 size=1063 x 1375*/
 
 body{
    background-color: grey;
 }
.container{
    padding-left: 215px;
}
 .content{
background-color: #E5E4E0;
width: 850px;
height: 1120px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
   float: right;
   font-size: 29.65;
   margin-right: 150px;
   margin-top: 90px;
   width: 40%;
   margin-left: 50px;
   
}
.image{
    padding-top: 20px;
    padding-left: 15px;
    display: inline-flex;
    width: 30%;
}
.about{
    float: right;
    width: 250px;
    font-size: 15.4px;
    line-height: 25px;
    font-weight: bold;
    padding-right: 50px;
}
.line{
    background-color: #E6A224;
    height: 2px;
    margin-top: 80px;

}
.texthead{
    font-size: 25px;
    margin-top: 5px;
}
h1{
    margin-bottom: 0;
    margin-top: 0;
}

.contact{
    margin-top: 35px;
    margin-left: 25px;
    width: 25%;
    float: left;
    display: inline;
}
.location{
    margin-top: 20px;
    margin-left: 15px;
    display: inline;
    float: left;
}

.details{
    font-size: 14px;
    width: 80%;
    display: inline;
    margin-top: 20px;
    margin-left: 2px;
    float: right;
}

.detailing{
    padding-right: 60px;
    display: inline; 
}
.mail{
    margin-top: 73px;
    margin-left: 15px;
    display: inline;
    float: left;
}
.email{
    font-size: 14px;
    width: 80%;
    display: inline;
    margin-top: 5px;
    margin-left: 2px;
    float: right;
    margin-bottom: 17px;
    margin-top: 18px;
}
.education{
    margin-left: 25px;
    margin-top: 5px;
    width: 38%;
}
.boldtext{
    font-size: 13px;
    margin-left: 15px;
    font-weight: bold;
    margin-top: 15px;
}
.text{
    font-size: 13px;
    margin-left: 14px;
    margin-top: 5px;
    line-height: 18px;
    
}
.ability{
    margin-left: 25px;
    margin-top: 15px;
    width: 25%;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
.list{
    font-size: 13px;
}
.sidebar{
 
    display: inline;
    
}
.whitebar{
    background-color: #fff;
    
    float: right;
    display: inline;
    width: 580px;
    margin-top: 50px;
    height: 690px;
}
.inwhitehead{
    margin-left: 40px;
    margin-top: 10px;
}
.texarita{
    margin-left: 75px;
    
}
.cordinate{
    display: inline;
    float: left;
}
.yellowline1{
    background-color: #E6A224;
    width: 2px;
    height: 55px;
    float: left;
    margin-left: 64px;
    margin-top: 15px;
}
.yellowline2{
    background-color: #E6A224;
    width: 2px;
    height: 55px;
    float: left;
    margin-left: 62px;
    margin-right: 8px;
    
}
.inwhiteskill{
    margin-left: 40px;
    margin-top: 30px;
}
.abouttext{
    margin-top: 7px;
}
.skills{
    padding-left: 50px;
    padding-top: 5px;
    display: inline-flex;
    
    
}
.python{
    margin-left: 60px;
    
}
.text1{
    font-size: 13px;
    margin-left: 4px;
}
.text2{
    margin-left: 18px;
    font-size: 13px;
}
.text3{
 
    font-size: 13px;
}
.mongo{
    margin-top: 8px;
    margin-left: 60px;
}
.express{
    margin-top: 18px;
    margin-left: 30px;
}
.react{
    margin-top: 18px;
    margin-left: 40px;
}
.node{
    margin-top: 10px;
    margin-left: 40px;
}
.textex{
    font-size: 13px;
    margin-left: 10px;
}
.def{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 50px;
    display: inline-flex;
}
.bolddef{
    font-size: 15px;
    font-weight: bold;
    display: inline-flex;
}
.define{
    font-size: 15px;
    margin-top: 5px;
    margin-left: 50px;
    display: inline-flex;
}
.def1{
    font-size: 15px;
    margin-top: 5px;
    display: inline-flex;
}
.desc{
    display: inline-flex;
    width: auto;
    float: left;
}
.para{
    font-size: 15px;
    margin-top: 5px;
    margin-left: 50px;
    display: inline-flex;
    /* width: 450px; */
    line-height: 20px;
    padding-bottom: 20px;
    
}

